<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    
</head>
<body>
    <header>
        <div class="main-header-top-bar">
            <div class="version-mobile">
                <img class="logo-ml" src="/img/logo-mercado-liebre.svg" alt="Logo" >
                <section class="copy-header">
                    <input class="buscador" type="text" placeholder="Buscar productos, marcas">
                    <button class="boton-busqueda">
                        <i class="fas fa-search"></i>
                    </button>
                </section>
            </div>        
                <h3><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito</h3>      
        </div>
        <nav class="main-navbar">
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta<i><i class="fas fa-id-card"></i></i></a></li>
                <li><a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>    
        <nav class="burger-menu">
            <button><i class="fas fa-bars"></i></button>
        </nav>
    </header>
    <img src="/img/img-home-banner.jpg" height="100%" width="100%">
    <main>
        <form class="register" action="/register" method="POST">
            <input class="borde" type="text" name="name" placeholder="Nombre y Apellido">
            <input class="borde" type="text" name="user" placeholder="Nombre de Usuario">
            <h4>Fecha de nacimiento</h4>
            <input class="borde" type="date" name="fecha-nacimiento" id="fecha-nacimiento">
            <input class="borde" type="text" name="domicilio" placeholder="Domicilio">
            <h4>Perfil del Usuario</h4>
            <div class="perfil-usuario">
                <input type="radio" name="perfil" value="comprador" id="comprador">
                <label for="comprador">Comprador</label>
                <input type="radio" name="perfil" value="vendedor" id="vendedor">
                <label for="vendedor">Vendedor</label>
            </div>
            <h4>Intereses</h4>
            <div>
                <input type="checkbox" id="intereses" name="intereses">  
                <label for="titulares">Electro</label> 
            </div> 
            <div>    
                <input type="checkbox" id="intereses" name="intereses"> 
                <label for="titulares">Moda</label>
            </div> 
            <div>
                <input type="checkbox" id="intereses" name="intereses"> 
                <label for="titulares">Hogar</label>
            </div> 
            <div>
                <input type="checkbox" id="intereses" name="intereses"> 
                <label for="titulares">Jugueteria</label>
            </div> 
            <div>
                <input type="checkbox" id="intereses" name="intereses"> 
                <label for="titulares">Vida Sana</label>
            </div>     
            <h4>Foto de Usuario</h4>
            <input type="file" >  
            <input class="borde" type="password" placeholder="Contraseña"> 
            <input class="borde" type="password" placeholder="Confirmar Contraseña">
            <button class="borde" type="submit">Enviar</button>
            <button class="borde" type="reset">Borrar</button>
                
        </form>
    </main>
    <footer>
        <section class="pie-de-pagina">
            <i class="fas fa-credit-card"></i>
            <h2 class="espacio">Pagá con tarjeta o en efectivo</h2>
            <p class="espacio">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <br>
        <section class="pie-de-pagina">
            <i class="fas fa-gift"></i>
            <h2 class="espacio">Envío gratis desde $ 2.500</h2>
            <p class="espacio">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <br>
        <section class="pie-de-pagina">
            <i class="fas fa-user-shield"></i>
            <h2 class="espacio">Seguridad, de principio a fin</h2>
            <p class="espacio">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <br>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>